<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head prefix="og: https://ogp.me/ns# 
              https://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9MFHCKPDYN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9MFHCKPDYN');
</script>
    
<!-- Primary Meta Tags -->
<title>JSON Formatter | The Best Chrome Extension to Format JSON</title>
<meta name="title" content="JSON Formatter | The Best Chrome Extension to Format JSON">
<meta name="description" content="A Chrome Extension to format JSON in the browser automatically. Available with both Dark and Light mode, with Auto-Linker and Syntax Highlighting.">
<meta name="keywords"
    content="json-formatter.js.org, jsonformatter.org, jsonformatter org, json com, json formatter com, json_formatter, json-formatter, js.org, js-org, JSON Formatter, json, json formatter, json prettifier, formatting, chrome, edge, edge extension, mozilla, firefox, chrome extension, best chrome extension, json chrome extension, free, developer, developer tools, web,javascript, code, programming, npm, sololearn, sl, arnav-kr, arnav, github, Arnav Kumar">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://json-formatter.js.org/">
<meta property="og:title" content="JSON Formatter | The Best Chrome Extension to Format JSON">
<meta property="og:description" content="A Chrome Extension to format JSON in the browser automatically. Available with both Dark and Light mode, with Auto-Linker and Syntax Highlighting.">
<meta property="og:image" content="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/banners/promo_tile_lg.png">
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/banners/promo_tile_lg.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="920" />
<meta property="og:image:height" content="680" />
<meta property="og:image:alt" content="JSON Formatter" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://json-formatter.js.org/">
<meta property="twitter:title" content="JSON Formatter | The Best Chrome Extension to Format JSON">
<meta property="twitter:description" content="A Chrome Extension to format JSON in the browser automatically. Available with both Dark and Light mode, with Auto-Linker and Syntax Highlighting.">
<meta property="twitter:image" content="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/banners/promo_tile_lg.png">
    
<!-- Icons -->
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/extension/icon_round_512.png"/>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/extension/icon_round_512.png" />
<link rel="apple-touch-icon" href="https://raw.githubusercontent.com/arnav-kr/json-formatter/main/images/extension/icon_round_512.png" />
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
<!--   Ads   -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6290792326682212"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      

      {{ content }}
<!-- 
      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %} -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
